/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */

body {
	font-family: Garamond;
	margin: 20px 100px 20px 100px;
}

img {
	border: 1px solid black;
	box-shadow: 2px 2px 5px #888888;
}

p {
	color: #FF9900;
}

/* HEADER SPECIFIC ======================================== */

header {
	border-bottom: solid 2px #FF9900;
	padding-bottom: 5px;
}

h1, h2, h3 {
	font-family: "Gill Sans" bold;
}

/* ABOUT SPECIFIC ======================================== */

#portrait {
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}

/* COMPONENTS SPECIFIC ======================================== */

button {
	padding: 10px 15px;
    background: #FF9900;
    color: #FFF;
}