<!DOCTYPE html>
<html>
<head>
	<title>WSP SignUp: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="signup.css" />
</head>
<body>

	<!-- Component -->

    <div id="social">
        <h1>Link socially</h1><br>
        <img src="#" alt="Facebook"/><br>
        <img src="#" alt="Google +"/><br>
        <img src="#" alt="Yahoo!"/>
    </div>

    <div id="register">
        <h1>Register with IGN</h1>
        <form>
            Username:<br>
            <input type="text" name="username">
            <br>
            Email:<br>
            <input type="text" name="email">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br>
            <input type="radio" name="newsletter" value="newsletter">Get IGN's Games Newsletter - Over 2 Million Served!<br>
            <input id="rbutton" type="submit" value="Register">
        </form>

        <p>By registering you agree to the <a href="#">IGN User Agreement</a> and have read and understood the <a href="#">IGN Privacy Policy</a>.</p>

        <p>Already have an account? <a href="#">Sign In</a></p>
    </div>

	<!-- End Component -->
	
</body>
</html>