<!DOCTYPE html>
<html>
<head>
	<title>WSP SignUp: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="signup.css" />
</head>
<body>

	<!-- Component -->

    <section id="register">
        <section>
            <h1>Link socially</h1>
            <a href="#"><img src="#" alt="Facebook"/></a>
            <a href="#"><img src="#" alt="Google +"/></a>
            <a href="#"><img src="#" alt="Yahoo!"/></a>
        </section>

        <section>
            <h1>Register with IGN</h1>
            <form>
                <label>Username:</label>
                <input type="text" name="username">
        
                <label>Email:</label>
                <input type="text" name="email">
                
                <label>Password:</label>
                <input type="password" name="password">
                
                <input type="radio" name="newsletter" value="newsletter"><p>Get IGN's Games Newsletter - Over 2 Million Served!</p>
                <a href="#"><input id="rbutton" type="submit" value="Register"></a>
            </form>

            <p>By registering you agree to the <a href="#">IGN User Agreement</a> and have read and understood the <a href="#">IGN Privacy Policy</a>.</p>

            
        </section>

        <p>Already have an account? <a href="#">Sign In</a></p>
    </section>

	<!-- End Component -->
	
</body>
</html>