<!DOCTYPE html>
<html>
<head>
	<title>WSP Feed: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="feed.css" />
</head>
<body>

	<!-- Component -->

	<section id="feed">
		<article>
			<img src="feed.jpg" alt="feed thumbnail" width="250px" height="150px">
			<h1>Lorem ipsum dolor sit amet</h1>
			<time>27 April 2014</time> <p>by (User)</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui.</p>
			<p><a href="#">Read more</a></p>
		</article>

		<article>
			<img src="feed.jpg" alt="feed thumbnail" width="250px" height="150px">
			<h1>Lorem ipsum dolor sit amet</h1>
			<time>27 April 2014</time> <p>by (User)</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui.</p>
			<p><a href="#">Read more</a></p>
		</article>

		<article>
			<img src="feed.jpg" alt="feed thumbnail" width="250px" height="150px">
			<h1>Lorem ipsum dolor sit amet</h1>
			<time>27 April 2014</time> <p>by (User)</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui.</p>
			<p><a href="#">Read more</a></p>
		</article>

		<ul id="pagination">
		   <li><a href="">1</a></li>
		   <li><a href="">2</a></li>
		   <li><a href="">3</a></li>
		   <li><a href="">4</a></li>
		</ul>
	</section>


	<!-- End Component -->
	
</body>
</html>