<!DOCTYPE html>
<html>
<head>
	<title>WSP Testimonials: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="testimonials.css" />
</head>
<body>

	<!-- Component -->

	<article>
		<h1>Testimonials</h1>
		
		<section>
			<img src="#" alt="self-portrait thumbnail"> 
			<h2>Persons Name</h2>
			<q>Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. </q>
		</section>

		<section>
			<img src="#" alt="self-portrait thumbnail"> 
			<h2>Persons Name</h2>
			<q>Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. </q>
		</section>

		<section>
			<img src="#" alt="self-portrait thumbnail"> 
			<h2>Persons Name</h2>
			<q>Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. </q>
		</section>

		<section>
			<img src="#" alt="self-portrait thumbnail"> 
			<h2>Persons Name</h2>
			<q>Proin accumsan ultrices velit id semper. Quisque hendrerit at lorem ac hendrerit. Suspendisse urna ipsum, tristique in mattis eu, facilisis in dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis. </q>
		</section>
	</article>
	<!-- End Component -->
	
</body>
</html>