<!DOCTYPE html>
<html>
<head>
	<title>WSP Featured: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="featured.css" />
</head>
<body>

	<!-- Component -->

	<article id="featured">
		<img src="#" alt="clock"><time>04 November 2014</time>
		<h1>Tom Clancy's</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac bibendum dolor. Nunc imperdiet, quam porta dictum congue, lorem magna.</p>
		<button type="button">Read more</button>
	</article>

	<!-- End Component -->
	
</body>
</html>