/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* SEARCH ======================================== */

@keyframes blink {
	0%   {color: #fff;}
    25%  {color: #FA607C;}
    50%  {color: #fff;}
    100% {color: #FA607C;}
}

@-webkit-keyframes blink {
	0%   {color: #fff;}
    25%  {color: #FA607C;}
    50%  {color: #fff;}
    100% {color: #FA607C;}
}

nav {
	background-color: #D05166;
	color: #FA607C;
	text-align: center;
	padding: 10px;
	font-size: 10px;
	text-transform: uppercase;
}

nav form input {
	background-color: #FA607C;
	margin-right: 25px;
	width: 150px;
	height: 18px;
}

nav form label {
	margin-right: 5px;
}

nav form a {
	margin-right: 40px;
	color: #FA607C;
}

nav form a:nth-last-child(1) {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: blink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@media (max-width: 650px) {

	nav form input {
		margin-right: 5px;
	}

	nav form a {
		margin-right: 5px;
	}
}

/* SEARCH ======================================== */