<!DOCTYPE html>
<html>
<head>
	<title>WSP Services: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section id="services">
		<h1>Welcome To Our Company</h1>

		<article>
			<h2>Computer Repair</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>

		<article>
			<h2>Tablet Repair</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>

		<article>
			<h2>Mobile Repair</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>

		<article>
			<h2>Internet Services</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>

		<article>
			<h2>Data Recovery</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>

		<article>
			<h2>Support Repair</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>