<!DOCTYPE html>
<html>
<head>
	<title>WSP Services: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<article id="services">
		<h1>WELCOME TO OUR COMPANY</h1>

		<section>
			<img src="#" alt="icon">
			<h2>COMPUTER REPAIR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>

		<section>
			<img src="#" alt="icon">
			<h2>TABLET REPAIR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>

		<section>
			<img src="#" alt="icon">
			<h2>MOBILE REPAIR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>

		<section>
			<img src="#" alt="icon">
			<h2>INTERNET SERVICES</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>

		<section>
			<img src="#" alt="icon">
			<h2>DATA RECOVERY</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>

		<section>
			<img src="#" alt="icon">
			<h2>SUPPORT REPAIR</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales gravida libero, at dapibus quam congue ut. Vivamus sodales vestibulum augue non venenatis.</p>
		</section>
	</article>

	<!-- End Component -->
	
</body>
</html>