<!DOCTYPE html>
<html>
<head>
	<title>WSP Team: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="team.css" />
</head>
<body>

	<!-- Component -->

	      <a><div class="columna">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>John Smith</h1>
            <p>Editor-in-Chief</p>
          </div></a>

          <a><div class="columna">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columna">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columna">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columnb">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columnb">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columnb">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

          <a><div class="columnb">
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </div></a>

	<!-- End Component -->
	
</body>
</html>