<!DOCTYPE html>
<html>
<head>
	<title>WSP Team: John Smith</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="team.css" />
</head>
<body>

	<!-- Component -->

        <section id="team">
	        <a><aricle>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>John Smith</h1>
            <p>Editor-in-Chief</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>

          <a><article>
            <img class="meetport" src="#" alt="thumbportrait"/>
            <h1>Name</h1>
            <p>Position</p>
          </article></a>
        </section>
	<!-- End Component -->
	
</body>
</html>